@{
    ViewData["Title"] = "Registration Confirmed";
}

<h1>Registration Successful</h1>
<p>Your student account has been created. You can now <a asp-controller="Account" asp-action="Login">log in</a>.</p>
